// ==== CONFIGURATION ==== //

// Set all your configuration variables here!

// Width of the overall site as well as the left and right content columns
$width-site:    1000px;
$width-left:    650px;
$width-right:   350px;

// Breakpoints
$break-small:   480px;
$break-medium:  620px;
$break-large:   800px;

// A standard margin
$spacer:        30px;

// A modest palette; see `_library.scss` for the color() function
$_color: (
  text: #333,
  link: steelblue,
  link-muted: steelblue,
  body-background: grey,
  header-background: white,
  footer-background: black,
  main-background: white,
);

// Metadata; use metadata() to access
$_metadata: (
  theme-name:               "Descent",
  theme-uri:                "https://github.com/rickisen/descent",
  theme-author:             "rickisen",
  theme-author-uri:         "http://rickisen.se",
  theme-description:        "Minimal theme Based on Alexander Synaptic's voidx",
  theme-version:            "0.0.1",
  theme-license:            "GPLv3",
  theme-license-uri:        "http://www.gnu.org/licenses/gpl.txt",
  theme-tags:               (light, responsive-layout, starter-theme, translation-ready, white),
  theme-text-domain:        "descent",
  theme-text-domain-path:   "/languages/"
);
