// ==== LAYOUT ==== //

body {
  > header {
    overflow:hidden;
    padding:0 1rem;

    button {
      float:right;
    }

    .site-navigation {
      display: none;
      clear: both;

      li {
        display: block;
        text-align: center;
        float: none;
        margin-right:0;
      }

      @include media-above($break-medium) {
        // Handles an edge case where user resizes
        // after menu is hidden on smaller screens
        display: block !important;

        li {
          display: list-item;
          text-align: left;
          float: left;
          margin-right:1rem;
        }
      }

      &.active {
        display: block;
      }
    }

    @include media-below($break-medium) {
      .site-title {
        margin:0 !important;
      }
    }

    .site-branding {
      float:left;
    }

    .site-title {
      margin-top: 0;
    }

    .site-description {
      @extend %hide;
    }

    > * {
      @include scut-center-block($width-site);
    }
  }

  .wrap-main {
    @extend %clearfix;
    box-sizing: border-box; // Makes life a little easier

    @include media-below($break-large + 40) {
      transition: margin 1s, padding 1s ;
    }

    @include media-above($break-large) {
      margin: 2vw 0;
      padding: 0 1rem;
      min-height: 100vh;
      @include scut-center-block($width-site);
    }

    main {
      @include media-below($break-large) {
        min-height: 90vh;
      }

      #frontpage-page {

        @include media-below($break-large) {
          .entry-content {
            width:100%;
            float: none;
          }
        }
      }

      article {
        @extend %clearfix;

        #main-image {
          @include inset-img;

          @include media-below($break-large) {
            float: none;
            width: 100%;
            margin: 0;
          }
        }
      }

      .puffs {
        box-sizing:border-box;
        display: flex;
        flex-wrap:wrap;

        .puff {
          height:30rem;
          width: 33%;

          .background-img {
            @include bgimg;
            height: 20rem;
          }

          @include media-below($break-large) {
            width:100%;
          }
        }

        > * {
          @include scut-center-block($width-site);
        }
      }

      > * {
        @extend %spacer-below-2;
      }
    }
  }

  > footer {
    > * {
      @include scut-center-block($width-site);
    }
    .widget-area {
      display: flex;
      flex-wrap: wrap;
      .widget {
        flex:1;
        margin:0 1em;
      }
    }
  }
}

// ==== GENERAL ==== //

#wpadminbar {
  background-color: rgba(50,50,50,0.5);
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}
