// ==== LAYOUT ==== //

body {
  > header {
    overflow:hidden;

    .site-navigation {
      display: none;

      li {
        float: none;
      }

      @include media-above($break-medium) {
        // Handles an edge case where user resizes
        // after menu is hidden on smaller screens
        display: block !important;

        li {
          float: left;
        }
      }

      &.active {
        display: block;
      }
    }

    .site-title {
      margin-top: 0;
    }

    .site-description {
      @extend %hide;
    }

    > * {
      @include scut-center-block($width-site);
    }
  }

  .wrap-main {
    @extend %clearfix;
    box-sizing: border-box; // Makes life a little easier

    @include media-above($break-large) {
      margin: 5vh 0;
      min-height: 90vh;
    }

    @include media-above($break-large) {
      @include scut-center-block($width-site);
    }

    main {
      @include media-below($break-medium) {
        min-height: 90vh;
      }

      .puffs {
        box-sizing:border-box;
        display: flex;
        flex-wrap:wrap;

        .puff {
          height:30rem;
          width: 33%;

          .background-img {
            @include bgimg;
            height: 20rem;
          }

          @include media-below($break-large) {
            width:100%;
          }
        }

        > * {
          @include scut-center-block($width-site);
        }
      }

      > * {
        @extend %spacer-below-2;
      }
    }
  }

  > footer {
    > * {
      @include scut-center-block($width-site);
    }

    .widget-area {
      display: flex;
      .widget {
        flex:1;
        margin:0 1em;
      }
    }
  }
}

// ==== GENERAL ==== //

#wpadminbar {
  background-color: rgba(50,50,50,0.5);
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}
